

.conteiner {
    
    margin: 0 auto;
    padding: 0 15px;

    //mobile screen
 @media screen and (min-width: 480px) {
    width: 480px;
 }
   //tablet scren
   @media screen and (min-width: 768px) {
    width: 768px;
   }

   //deskrop screen
   @media screen and (min-width: 1200px) {
    width: 1200px;
   }

}