.main-nav {
    display: flex;
    align-items: center;
}
.after-nav {
    display: flex;
    gap: 50px;
    margin-left: auto;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
    margin-left: 93px;
    
    .header-nav-item:not(:last-child) {
            margin-right: 50px;
        }
}

.header-first-part {
    color: #2196f3;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
}

.header-last-part {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #000000;
}

.header-nav-studios,
.header-mail-link {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: #2196f3;
    padding: 32px 0;
}

.header-nav-studios::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

     &:hover {
        color: #2196f3;
    }
}

.header-nav-portfolios {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: #212121;
}

.header-nav-portfolios,
.header-nav-contact {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: #212121;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

     &:hover,
     &:hover {
        color: #2196f3;
    }
}

.address-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #757575;
    display: flex;
    align-items: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

     &:hover {
        color: #2196f3;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.address-mails {
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196f3;
    display: flex;
    align-items: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

     &:hover {
        color: #2196f3;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    } 
}

.etel {
    width: 12px;
    height: 16px;
    align-items: center;
    fill: currentColor;
    margin-right: 10px;
}

.email {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    align-items: center;
    fill: currentColor;
}