.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    width: 528px;
    height: 581px;
    padding: 40px;
}

.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);

      &:hover,
      &:focus {
        fill: #2196f3;
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.modal-text {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
    margin-bottom: 12px;
}

.form-field {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    margin-bottom: 20px;
}

.form-fields {
    position: relative;
}

.form-field input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    outline: transparent;
    transition: border 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 4px;

    &:hover,
    &:focus ~ .user-name {
        border: 1px solid var(--accent-color);
        fill: currentColor;
        transition-property: border;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.form-field textarea {
    width: 100%;
    height: 120px;
    resize: none;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    transition: border 250ms;
    margin-top: 4px;

    &:hover,
    &:focus {
        border: 1px solid var(--accent-color);
        transition-property: border;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.form-label,
.form-mail,
.form-tel {
    position: relative;
}

.user-name {
    position: absolute;
    top: 50%;
    left: 13px;
    fill: currentColor;
    transition: fill 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
        color: var(--accent-color);
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.form-coment,
.form-mail,
.form-tel,
.form-label {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: #757575;
}

.check option {
    margin: 0;
    margin-top: 20px;
}

.label-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: #2196f3;
       &:hover,
       &:hover {
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.option {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

/* Check */

.check {
    padding-left: 1.2em;

     &-input {
        position: absolute;
        clip: rect(0 0 0 0);
        width: 1px;
        height: 1px;
        margin: -1px;
    }

      &-box {
    position: absolute;
    top: 4px;
    left: 6px;
    width: 16px;
    height: 15px;
    overflow: hidden;
    border-radius: 0.05em;
    background-color: white;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    box-shadow: 0 0 0 0.1em #4a90e2;
    }
}

/* Checked */

.check-input:checked+.check-box {
    background-color: var(--accent-color);
    background-image: url(../img/image\ check.svg);
}

/* Focused */

.check-input:focus+.check-box {
    box-shadow: 0 0 0 0.1em #4a90e2, 0 0 0 0.2em #7ed321;
}

/* Disabled */

.check-input:disabled+.check-box {
    box-shadow: 0 0 0 0.1em #9b9b9b;
}

.check-input:checked:disabled+.check-box {
    background-color: var(--accent-color);
}

