.clients__client {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
    @media screen and (max-width:767) {
        font-size: 28px;
        line-height: 33px;
    }
}

.clients__link {
   @media screen and (min-width: 768px) {
    width: 226px;
   }
   @media screen and (min-width:1200) {
    width: 1200px;
   }
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(100% / 2);
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 92px;
    border: 1px solid currentColor;
    border-radius: 4px;
    color: #afb1b8;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:focus {
        color: var(--accent-color);
    }
}

.clients__list {
    @media screen and (max-width: 767px) {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
        
    }       
    display: flex;
    gap: 30px;
    fill: currentColor;
}

.clients__cli {
    fill: currentColor;
}