.work {
    padding-top: 0;
}

.work .list {
    display: flex;
}

.work__text {
    font-weight: 700;
    line-height: calc(16 / 14);
    text-transform: uppercase;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    background: rgba(47, 48, 58, 0.8);
    width: 360px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.work__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}

.work__item {
    margin-right: 30px;
    position: relative;
}