:root {
    --main-text-color: #212121;
    --secondary-text-color: #ffffff;
    --main-fond: 'Roboto', sans-serif;
    --accent-color: #2196f3;
    --background-color: #ffffff;
    --background-color: #2f303a;
}